<div th:fragment="footer" ></div>
<footer
        class="text-white bg-dark d-flex fixed-bottom align-items-center justify-content-around footer">
    <h4 class="pt-2 ">Hell's Pass Hospital</h4>
    <h4 class="pt-2">
        <a href="#">
            <i class="fa-solid fa-circle-h fa-2x"></i></a> <a href="#"><i
            class="fa-brands fa-linkedin fa-2x"></i></a> <a href="#"><i
            class="fa-brands fa-square-twitter fa-2x"></i></a> <a href="#"><i
            class="fa-brands fa-square-facebook fa-2x"></i></a>
    </h4>
</footer>